@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Proyecto Base de Datos 2</h1>
    <p class="lead">Julio Abiel Hernández Rodríguez
    0905-15-4046</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Módulos Recursos Humanos</h2>
        <ul>
            <li>@Html.ActionLink("Gestión Empleados", "Index", "Empleados")</li>
            <li>@Html.ActionLink("Gestión Departamentos", "Index", "Deptos")</li>
            <li>@Html.ActionLink("Gestión Usuarios", "Index", "Usuarios")</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Módulos Inventario</h2>
        <ul>
            <li>@Html.ActionLink("Gestión Carros", "Index", "Clientes")</li>
            <li>@Html.ActionLink("Gestión Empleados", "Index", "Empleados")</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Módulos Compra y Ventas</h2>
        <ul>
            <li>@Html.ActionLink("Gestión Compra", "Index", "Compras")</li>
            <li>@Html.ActionLink("Gestión Venta", "Index", "Ventas")</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Módulos CRM</h2>
        <ul>
            <li>@Html.ActionLink("Gestión Clientes", "Index", "Clientes")</li>
            <li>@Html.ActionLink("Gestión Proveedores", "Index", "Proveedores")</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Módulos Producción</h2>
        <ul>
            <li>@Html.ActionLink("Gestión Marcas", "Index", "Marcas")</li>
            <li>@Html.ActionLink("Gestión Motores", "Index", "TipoMotor")</li>
            <li>@Html.ActionLink("Gestión Paises", "Index", "Paises")</li>
        </ul>
    </div>
</div>